@using UserManagementWithIdentity.ViewModels
@model ProfileFormModel
@{
    ViewData["Title"] = "Edit User";
}

<form asp-action="Edit" method="post">
    <h2>Edit a user.</h2>
    <hr />
    <input type="hidden" asp-for="Id" />
    <div class="form-floating mb-3">
        <input asp-for="FirstName" class="form-control" aria-required="true" />
        <label asp-for="FirstName">FirstName</label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="LastName" class="form-control" aria-required="true" />
        <label asp-for="LastName">LastName</label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="UserName" class="form-control" aria-required="true" placeholder="username" />
        <label asp-for="UserName">UserName</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary d-block mt-4">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
